.section { 
  display: flex;
  min-width: 288px;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .section {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
