.ul {
  padding: 0;
}

.li {
  margin: 10px 0;
  padding: 6px;
  display: flex;
  overflow: hidden;
  list-style: none;
  background: #282525;
  border-radius: 20px;
}

.Image {
  object-fit: cover;
  border-radius: 50%;
}

.p {
  margin: 0;
  overflow: hidden;
}

@media (min-width: 375px) {
  .li {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .li {
    height: auto;
    align-items: center;
  }
}
